<!DOCTYPE html>
<html>
<head>
  <title>X Marks Your Start</title>

  <%= favicon_link_tag "map_icon.ico"%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>

  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77044248-1', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
  <!-- <link rel="image_src" href="app/assets/images/test_image" />
  <meta property="og:url"           content="http://www.xmarksyourstart.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="X Marks Your Start" />
  <meta property="og:description"   content="Find out what influenced your conception" />
  <meta property="og:image" content = "http://failedmessiah.typepad.com/.a/6a00d83451b71f69e20168ebc80e7c970c-800wi" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="http://www.xmarksyourstart.com" />
  <meta name="twitter:title" content="X Marks Your Start" />
  <meta name="twitter:description" content="Find out what influenced your conception" />
  <! <meta property="twitter:image" content = "http://failedmessiah.typepad.com/.a/6a00d83451b71f69e20168ebc80e7c970c-800wi" /> -->

</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
